doctype html
html
  head
    title Lounge | Werewolf Online - Tiger Team
    link(rel="stylesheet",href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    script(src="https://kit.fontawesome.com/3f47eb379d.js")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")

  body.bg-dark.text-light
               //- .page-wrapper.chiller-theme.toggled
            //-     a#show-sidebar.btn.btn-lg.btn-dark(href='#')
            //-       i.fas.fa-bars
            //-     nav#sidebar.sidebar-wrapper
            //-         .slidebar-content
            //-             .sidebar-brand
            //-                 a(href='#') Room : 
                            
            //-                 i.fas.fa-times#close-sidebar

            //-             .badge.badge-light.text-dark.font-weight-bold Number players :       #{players.length + 1}
            //-             .sidebar-search
            //-                 div
            //-                     .input-group
            //-                         input.form-control.search-menu(type='text', placeholder='add user')
            //-                         .input-group-append
            //-                         span.input-group-text
            //-                             i.fa.fa-search-plus(aria-hidden='true')

            //-             .sidebar-menu
            //-                 ul
            //-                      each player in players 
            //-                         li.list-group-item.text-dark
            //-                             a.btn.btn-outline-light(role="button")  
            //-                                 i.float-left.my-1.ml-0.fa.fa-user.mr-2(aria-hidden='true')
            //-                                 |                            #{player.username}

            //-         .sidebar-footer
            //-             button.btn.btn-secondary.btn-lg.my-2(type='click')    Start
            //-             a(class='btn btn-secondary btn-lg my-2',href='/lounge')    Out

            //-             .customSetting
            //-                 i.fas.fa-user-cog.mr-2      
            //-                 | CustomSetting      

