doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title= title
    link(rel="stylesheet", href="/stylesheets/main.css")
    link(rel="stylesheet", href="/stylesheets/layout/layout.css")
    script(src="/javascripts/layout.js")
    block stylesheet
  body
    header
      nav.navbar.navbar-expand-lg.navbar-dark.bg_dark_bold#top_nav
          a.navbar-brand(href='/') Werewolf Online
          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#actions_menu')
              span.navbar-toggler-icon
          div#actions_menu.collapse.navbar-collapse
              ul.navbar-nav.mr-auto
                  li.nav-item.active
                      a.nav-link(href='/lounge') Lounge
                  li.nav-item
                      a.nav-link(href='/about') About
              div.dropdown.my-2.my-lg-0#user_actions_dropdown
                  button#user_actions_dropdown_btn.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                      | huynhlehieunam
                  .dropdown-menu(aria-labelledby='dropdownMenuButton')
                      a.dropdown-item(href='/profile') View Profile
                      a.dropdown-item(href='/profile/edit') Edit Profile
                      a.dropdown-item(href='/user/history') View History
                

    block content

    footer.bg_dark_bold.p-2
      p.text_light Made by Tiger Team
    
