doctype html
html
    head
        title Login | Werewolf Online - Tiger Team
        //- link(rel="stylesheet", href="/stylesheets/animate.css")
        script(src="/javascripts/login.js")
        script(src="https://kit.fontawesome.com/3f47eb379d.js")
    body.bg-dark.text-light(style="overflow:hidden;")
        .container-fluid
            .row(style="height:100vh").px-5
                .col-sm-5.d-flex.align-items-center
                    #loginForm.container.bg-secondary.p-5.animated.slideInLeft.faster
                        .row
                            .display-3.font-weight-bold Welcome
                            .h3.pl-5 Please log in to continue...                        

                        .row.d-flex.justify-content-center.mt-5
                            form.form-group.w-75(method="POST", action="/login")
                                #loginMsg.alert.alert-danger

                                .input-group
                                    i.fas.fa-3x.fa-user.mr-2
                                    input.form-control-lg.form-control.mb-3.w-75(type="text" name="username" placeholder="Username" required)
                                .input-group
                                    i.fas.fa-3x.fa-lock.mr-2
                                    input.form-control-lg.form-control.w-75(type="password" name="password" placeholder="Password" required)
                                .input-group
                                    input(type="hidden" name="csrfToken" value=csrfToken)
                                .row.mt-4
                                    .col
                                        a.text-light(href="#") Forget password?
                                    .col
                                        button#loginSubmit.btn-dark.btn-lg.btn.float-right.btn-block(type="button") Log in

                                hr.m-4
                        .row.d-flex.justify-content-center
                            .h3 Don't have account?
                            button#goRegister.btn.btn-dark.btn-lg.w-75.mt-2 Register Now

                .col-sm-7.d-flex.align-items-center
                    .container.animated.slideInRight.faster
                        .d-flex.align-items-baseline.justify-content-center
                            .display-3.font-weight-bold Werewolf
                            img(src="/images/werewolflogo.png" width="40%")
                        .d-flex.justify-content-center
                            .display-3.font-weight-bold.px-5.ml-5 Online
                            .h5.pl-5 by Tiger Team




