extends layout
block sessionCSS
    title Lounge | Werewolf Online - Tiger Team
    link(rel="stylesheet", href="/stylesheets/lounge.css")
    script(src="/javascripts/lounge.js")
    script(src="/socket.io/socket.io.js")

block content
    #roomList.row.room
        //- .col-sm-4.mt-3
        //-     .card
        //-         h5.card-header.text-dark RoomID : 
        //-         .card-body
        //-             h5.card-title.text-dark Room's author :  
        //-                 a(href=`/user/`)  
        //-             p.card-text.text-dark Number players : 
        //-             a.btn.btn-dark(href='/user/room') Join
                        

                        