extends layout
block sessionCSS
    title Lounge | Werewolf Online - Tiger Team
    link(rel="stylesheet", href="/stylesheets/lounge.css")
    script(src="/javascripts/lounge.js")
    script(src="/socket.io/socket.io.js")

block content
    .container-fluid.py-5
        .row.bg-dark.px-3.py-2.justify-content-between
            h2.d-none.d-sm-block Active rooms
            div.col-sm-4.position-relative
                input#search_input.form-control(type="text" placeholder="Enter host username or room name...")
        #roomList.row.room

    

                        

                        