doctype html
html
    head
        title WaitingRoom | Werewolf Online - Tiger Team
        link(rel="stylesheet", href="/stylesheets/waitingRoom.css")
        link(rel="stylesheet",href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        script(src="/javascripts/lounge.js")
        script(src="https://kit.fontawesome.com/3f47eb379d.js")

        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")

        body.bg-dark.text-light
        .container-fluid
    -   var username = "PhanMai"
        .row.top
            .col-8
                h1 WereWolf Online
            .col-4
                h5.float-right  #{username}

        .row
            footer.page-footer.font-small.dark
                .footer-copyright.py-3.text-center
                    | &copy; 2019 Internship's Cybozu 
                    a(href='#')  Made by Tiger Team



