extends ../layout
block sessionCSS
    title Room | Werewolf Online - Tiger Team
    script(src="/javascripts/room.js")
    script(src="/socket.io/socket.io.js")
    link(rel="stylesheet", href="/stylesheets/waitingRoom.css")

block content
    .container-fluid.overflow-auto
        .row
            .col-9.mb-5
                .row.py-3.d-flex.mb-3
                    button#startGame.btn.btn-light.mr-3
                        i.fas.fa-play
                        |&nbsp;Start
                    a#leaveRoom.btn.btn-outline-secondary.text-light.font-italic(href='/lounge')
                        i.fas.fa-sign-out-alt.align-middle
                        |&nbsp;Leave

                #info.row.animated.slideInDown.faster.d-none.d-flex.justify-content-between.mb-5
                    h1#phase.mr-5
                        .badge.badge-lg.badge-light Night
                            //- i.fa.fa-moon.float-left

                    //-<i class="fad fa-sun-cloud"></i>

                    #deadList.d-flex.border.rounded.p-2.d-none Dead list
                        img.border.rounded.m-2(src='http://placehold.it/50' width="50px" height="50px")
                        img.border.rounded.m-2(src='http://placehold.it/50' width="50px" height="50px")
                        img.border.rounded.m-2(src='http://placehold.it/50' width="50px" height="50px")
                        img.border.rounded.m-2(src='http://placehold.it/50' width="50px" height="50px")

                    .col
                        h1#clock.display-4.float-right
                            .badge.badge-light.text-dark 00:00

                .row
                    .col-5.mb-5
                        h4#character.font-weight-bold   Witch     
                        h5#team  Team :  Villager
                        h6#des.font-weight-light Kill or heal a player, once each per game

                    .col-7.mb-5
                        #playerList.row.my-2.d-flex.flex-wrap
                            .player.d-flex.flex-column.mr-3.align-items-center.mb-4
                                img(src='http://placehold.it/80' width="80px").m-2#playerAvatar
                                button.btn-sm.btn-light Waiting


            .col-3.mb-5
                b ID: 
                    #idRoom.m-3.badge.badge-light=idRoom
 
                ul.nav.nav-tabs.text-secondary
                    li.nav-item
                        a#roomTab.nav-link.active.border.btn-lg.btn-outline-light.font-weight-bold(data-target='#room', data-toggle='tab') Room
                    li.nav-item
                        a#privateTab.nav-link.border.btn-lg.btn-outline-light.font-weight-bold( data-target='#private', data-toggle='tab') Private
                    
                .tab-content.d-flex.flex-column
                    #room.active.tab-pane.p-2.mb-auto
                        .messageBoxRoom#messageBoxRoom
                    #private.tab-pane.p-2.mb-auto
                        .messageBoxPrivate#messageBoxPrivate

                    .input-group
                        .input-group-prepend
                            select#receiverSelect.custom-select.bg-secondary.text-light(name="receiver")
                                option(value="all") All
                        input#messageText.form-control(name="msg" type='text', placeholder="Type something" autofocus)
                        .input-group-append
                            button#sendMessage.btn.btn-secondary(type='button') Send

