extends ../layout
block sessionCSS
    title Lounge | Werewolf Online - Tiger Team
    script(src="/javascripts/room.js")
    script(src="/javascripts/layout.js")
    script(src="/socket.io/socket.io.js")
    link(rel="stylesheet", href="/stylesheets/waitingRoom.css")

block content
 
    .row
        .col-3
            .listPlayers
                ul.list-group.list-group-flush
                    li.list-group-item.text-dark Number players :       #{players.length + 1}
                    each player in players 
                        li.list-group-item.text-dark
                            a.btn.btn-outline-light(role="button")  
                                i.fas.fa-user.float-left.my-1.ml-0.mr-2  #{player.username}

                    form.form-inline
                        input.form-control.mr-sm-2(type='search', placeholder="ID's User", aria-label='Search')
                        a.btn.btn-outline-dark(role="button") 
                            i.fa.fa-search-plus(aria-hidden='true')
                            |                             Add
                            
                button.btn.btn-secondary.btn-lg.my-2(type='click')    Start
                a(class='btn btn-secondary btn-lg my-2',href='/lounge')    Out


        .col-lg-8.col-sm-8
                .messageChat.mx-5
                    .messageBox#messageBox
                        div.message
                            i#avatar.fa.fa-user.mr-2(aria-hidden='true')
                            | #{username}
                            p.float-right hello

                    //- .input-group.mb-3
                    //-     input#messageText.form-control(type='text', placeholder="Type something")
                    //-     .input-group-append
                    //-         button#addMessage.btn.btn-outline-secondary(type='submit') Add
                    //- ul#thread
                    form
                        input#message(type='text', placeholder='Type Something')
                        input(type='submit', value='Send')
                    ul#thread


        .col-lg-1.col-sm-1
                .customSetting
                    a.btn.btn-outline-dark(role="button") 
                        i.fa.fa-user-cog.mr-1(aria-hidden='true')
                        |                             Custom Setting

