extends ../layout
block sessionCSS
    title Room | Werewolf Online - Tiger Team
    script(src="/javascripts/room.js")
         // script(src="/javascripts/layout.js")
    script(src="/socket.io/socket.io.js")
    link(rel="stylesheet", href="/stylesheets/waitingRoom.css")

block content
    .row
        .col-2
            .component.p-2
                button#show-sidebar.btn.btn-lg.btn-light
                    i.fas.fa-user-friends
                    |&nbsp;Players

                #listPlayers.listPlayers.list-group.mt-2
                    //- a.list-group-item.list-group-item-action(href='#') Dapibus ac facilisis in
                   
        .col-6

        .col-4
            #idRoom.badge.badge-light=idRoom
            .messageChat.mx-5
                .messageBox#messageBox
                    div.message.my-2
                        i#avatar.fa.fa-user.mr-2(aria-hidden='true')
                        | #{username} 
                        |&nbsp;&nbsp;&nbsp;&nbsp; 
                        | #{message}

                .input-group.mb-3
                    input#messageText.form-control(type='text', placeholder="Type something")
                    .input-group-append
                        button#addMessage.btn.btn-secondary(type='button') send
        
            
