body {
    padding-left: 6%;
    padding-right: 6%;
    min-height: 100vh;
    height: 100%;
    margin: 0;
    position: relative;
    overflow: auto;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 700px 700px;
    background : #343a40"
}



footer {
    position: absolute;
    bottom: 0;
    width: 90%;
    border-top: solid black 1px;
  }
