body {
    padding-left: 6%;
    padding-right: 6%;
    min-height: 100vh;
    position: relative;
    margin: 0;
    overflow: hidden;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 700px 700px;
    background : #343a40"
}
 
.top{
    position: fixed;
    top: 0;
    width: 90%;
}

.top h5:hover{
    cursor: pointer;
}

.customSetting{
    position: fixed;
    bottom: 10%;
}


.customSetting :hover{
    cursor: pointer;
    
}


.container{
    margin-top : 50px;
    position: fixed;
    bottom: 15%;
}

.searchForm{
    padding-right : 22%;
    padding-top : 5px;
    
    
}

.listPlayers button{
    width: 45%;
    margin-right: 5px;
}



.list-group{
    width: 90%;

}

footer {
    position: absolute;
    bottom: 0;
    width: 90%;
    border-top: solid black 1px;
  }

