
.customSetting{
    position: fixed;
    bottom: 10%;
}


.customSetting :hover{
    cursor: pointer;
}

.searchForm{
    padding-right : 22%;
    padding-top : 5px;
    
    
}

.listPlayers{
    margin-top : 50px;
    position: fixed;
    bottom: 15%;
    
}

.listPlayers a:hover{
    cursor: pointer;
}
.listPlayers button{
  
    margin-right: 5px;

}




.messages{
    border: 1px solid white;
}
